// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'
@require '~vuetify/src/stylus/components/_alerts.styl'
@require '~vuetify/src/stylus/components/_app.styl'
@require '~vuetify/src/stylus/components/_avatars.styl'
@require '~vuetify/src/stylus/components/_bottom-navs.styl'
@require '~vuetify/src/stylus/components/_breadcrumbs.styl'
@require '~vuetify/src/stylus/components/_buttons.styl'
@require '~vuetify/src/stylus/components/_cards.styl'
@require '~vuetify/src/stylus/components/_content.styl'
@require '~vuetify/src/stylus/components/_data-table.styl'
@require '~vuetify/src/stylus/components/_date-picker-header.styl'
@require '~vuetify/src/stylus/components/_date-picker-table.styl'
@require '~vuetify/src/stylus/components/_dialogs.styl'
@require '~vuetify/src/stylus/components/_dividers.styl'
@require '~vuetify/src/stylus/components/_forms.styl'
@require '~vuetify/src/stylus/components/_grid.styl'
@require '~vuetify/src/stylus/components/_icons.styl'
@require '~vuetify/src/stylus/components/_images.styl'
@require '~vuetify/src/stylus/components/_inputs.styl'
@require '~vuetify/src/stylus/components/_labels.styl'
@require '~vuetify/src/stylus/components/_lists.styl'
@require '~vuetify/src/stylus/components/_menus.styl'
@require '~vuetify/src/stylus/components/_messages.styl'
@require '~vuetify/src/stylus/components/_navigation-drawer.styl'
@require '~vuetify/src/stylus/components/_overlay.styl'
@require '~vuetify/src/stylus/components/_pagination.styl'
@require '~vuetify/src/stylus/components/_responsive.styl'
@require '~vuetify/src/stylus/components/_select.styl'
@require '~vuetify/src/stylus/components/_selection-controls.styl'
@require '~vuetify/src/stylus/components/_tables.styl'
@require '~vuetify/src/stylus/components/_tabs.styl'
@require '~vuetify/src/stylus/components/_text-fields.styl'
@require '~vuetify/src/stylus/components/_toolbar.styl'
@require '~vuetify/src/stylus/components/_tooltips.styl'
@require '~vuetify/src/stylus/components/_windows.styl'

.page-enter-active, .page-leave-active
  transition: opacity .3s


.page-enter, .page-leave-active
  opacity: 0

.w100
  width: 100% !important

.v-tabs__item--active
  color: #ff823e !important
  caret-color: #ff823e !important
